---
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';

const pageTitle = "Home Page";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
	
		<h1>Mi primer sitio Astro!</body></h1>

		<Footer />
		<script>
			import "../scripts/menu.js"; // This is a simple script to demonstrate the use of JavaScript in Astro
  		</script>
	</body>
</html>
